flows exercise-8.json
[
    {
        "id": "3ae455528ea053f1",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af5a67430642c61d",
        "type": "mqtt in",
        "z": "3ae455528ea053f1",
        "name": "",
        "topic": "campus/zone1/environment",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a252e332f70c0758",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "05f296a07ac97e89",
                "544980d1aaf080a9"
            ]
        ]
    },
    {
        "id": "05f296a07ac97e89",
        "type": "function",
        "z": "3ae455528ea053f1",
        "name": "parse mqtt",
        "func": "var raw_data = msg.payload;\n\nvar ts_document = {\n    \"timestamp\": new Date(),                 \n    \"sensor_id\": raw_data.sensor_id,         \n    \"temperature\": raw_data.temperature,     \n    \"humidity\": raw_data.humidity            \n};\n\nmsg.payload = ts_document;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "3853bc93c82476e5",
                "9dd0bea49dc569fe"
            ]
        ]
    },
    {
        "id": "3853bc93c82476e5",
        "type": "mongodb4",
        "z": "3ae455528ea053f1",
        "clientNode": "5214c661b9a77d99",
        "mode": "collection",
        "collection": "environment_telemetry",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 740,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9dd0bea49dc569fe",
        "type": "debug",
        "z": "3ae455528ea053f1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "544980d1aaf080a9",
        "type": "debug",
        "z": "3ae455528ea053f1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "a252e332f70c0758",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5214c661b9a77d99",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "27017",
        "port": "",
        "dbName": "smart_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://host.docker.internal:27017/smart_campus?directConnection=true",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "3bf2e7c648ba3bbd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]